# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local files and secrets
.DS_Store
*.pem
.env
.env*.local
*.tsbuildinfo
.idea/

# unrelated local workspaces
ai-edge-functions/
app-example/
